{% extends "VarDBapp/base.html" %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-8">
            <h3>Browse Variants  <a href="/browse_variants"><span class="glyphicon glyphicon-search"></span></span></a></h3>
            <h3>Variant File Upload <a href="/file_upload"><span class="glyphicon glyphicon-upload"></span></span></a></h3>
            <h3>Single Variant Upload <a href="/single_upload"><span class="glyphicon glyphicon-upload"></span></span></a></h3>
        </div>
    </div>
</div>
{% endblock %}




